* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgb(240, 222, 240);
}

.header {
    background-color: white;
    padding: 20px;
}

.header > h1 {
    color: rgba(0, 0, 0, 0.705);
    text-align: center;
    font-family: sans-serif;
}

.choices-display, .score-board {
    display: flex;
    background-color: bisque;
    color: rgb(2, 2, 31);
    justify-content: space-around;
    padding: 30px;
}

.score-board {
background-color: beige;
}

.result {
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}